flow3.py
[{"id":"4fdb8302.4f26fc","type":"inject","z":"5dd7c7ea.ce1ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":350,"y":300,"wires":[["acdc9a94.2f10f8"]]},{"id":"acdc9a94.2f10f8","type":"function","z":"5dd7c7ea.ce1ea8","name":"Payload","func":"msg.headers={\n    devicekey:\"d6pSYp4vDtDbSe07\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["b357d246.fd58"]]},{"id":"b357d246.fd58","type":"http request","z":"5dd7c7ea.ce1ea8","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dpbi5Sju/datachannels/Temperature/datapoints.csv","tls":"","x":690,"y":300,"wires":[["2596ebb9.1747e4","4be10dc2.08fc94"]]},{"id":"2596ebb9.1747e4","type":"http response","z":"5dd7c7ea.ce1ea8","name":"","statusCode":"","headers":{},"x":970,"y":200,"wires":[]},{"id":"4be10dc2.08fc94","type":"debug","z":"5dd7c7ea.ce1ea8","name":"","active":true,"console":"false","complete":"false","x":950,"y":440,"wires":[]}]
