flow1.py
[{"id":"ce62b24c.6b428","type":"rpi-gpio out","z":"8df28677.e1bd08","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":730,"y":140,"wires":[]},{"id":"2932819a.52781e","type":"debug","z":"8df28677.e1bd08","name":"","active":true,"console":"false","complete":"payload","x":690,"y":300,"wires":[]},{"id":"b3e6f4a2.fd5f78","type":"rpi-gpio in","z":"8df28677.e1bd08","name":"button","pin":"18","intype":"up","debounce":"25","read":false,"x":90,"y":160,"wires":[["3a8282b1.03823e"]]},{"id":"3a8282b1.03823e","type":"switch","z":"8df28677.e1bd08","name":"if 1 or 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":180,"wires":[["e5e0f3ce.9dee1"],["ff8d7be1.2265d8"]]},{"id":"ff8d7be1.2265d8","type":"change","z":"8df28677.e1bd08","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["ce62b24c.6b428","2932819a.52781e"]]},{"id":"e5e0f3ce.9dee1","type":"change","z":"8df28677.e1bd08","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["ce62b24c.6b428","2932819a.52781e"]]}]
