flow2.py
[{"id":"8794af57.f79c5","type":"inject","z":"5dd12903.ffdc58","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":390,"y":200,"wires":[["8e56487d.eb2e98"]]},{"id":"8e56487d.eb2e98","type":"function","z":"5dd12903.ffdc58","name":"Payload","func":"msg.headers={\n    devicekey:\"d6pSYp4vDtDbSe07\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["d16ee6fe.8d55c8"]]},{"id":"d16ee6fe.8d55c8","type":"http request","z":"5dd12903.ffdc58","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dpbi5Sju/datachannels/LEDControl/datapoints.csv","tls":"","x":730,"y":200,"wires":[["9aeec26.201544","6ea1f96d.8a59e8"]]},{"id":"9aeec26.201544","type":"http response","z":"5dd12903.ffdc58","name":"","statusCode":"","headers":{},"x":1050,"y":120,"wires":[]},{"id":"6ea1f96d.8a59e8","type":"debug","z":"5dd12903.ffdc58","name":"","active":true,"console":"false","complete":"false","x":990,"y":340,"wires":[]}]
